@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700');
@import url("https://use.typekit.net/ujb8mcn.css");

/*FONTS*/


.objthin {
font-family: objektiv-mk2, sans-serif;
font-weight: 300;
font-style: normal;
}

.obji {
  font-family: objektiv-mk2, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.objr {
  font-family: objektiv-mk2, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.objbold {
  font-family: objektiv-mk2, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.objblack {
  font-family: objektiv-mk2, sans-serif;
  font-weight: 900;
  font-style: normal;
}


.merrib {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.merrii {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-style: italic;
}

.smallcaps {
  font-family: objektiv-mk2, sans-serif;
  font-weight: 300;
  letter-spacing: .05em;
  text-transform: uppercase;
}

.navlinks {
  font-family: objektiv-mk2, sans-serif;
  font-weight: 400;
  letter-spacing: .05em;
  text-transform: uppercase;
}


body {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  color: #202020;
}


.texty {
  line-height: 1.8
}

.totalpage {
  min-height: 100vh;
}

/* BACKGROUND IMAGES - INDEX PAGE */


.first {
  background-image: url(/images/unknown-page07.png);
  background-position: center;
  background-size: cover;
}

.concept {
  background-image: url(/images/sackler-poster.jpg);
  background-position: center;
  background-size: contain;
}

.influence {
  background-image: url(/images/catalog-gif2.gif);
  background-position: center;
  background-size: cover;
}

.questions {
  background-image: url(/images/questions01.jpg);
  background-position: center;
  background-size: contain;
}

.datacity {
  background-image: url(/images/data.jpg);
  background-position: center;
  background-size: cover;
}

.weather {
  background-image: url(/images/lola-gifnew2.gif);
  background-position: center;
  background-size: contain;
}

.subtract {
  background-image: url(/images/subtract.gif);
  background-position: center;
  background-size: cover;
}

.collection {
  background-image: url(/images/collection02.jpg);
  background-position: center;
  background-size: contain;
}

.alphabet {
  background-image: url(/images/alphabetgif2.gif);
  background-position: center;
  background-size: contain;
}

.mfa {
  background-image: url(/images/mfa-orange.png);
  background-position: center;
  background-size: contain;
}

.thesis {
  background-image: url(/images/thesis-big.jpg);
  background-position: center;
  background-size: cover;
}

.git {
  background-image: url(/images/git-posters.png);
  background-position: center;
  background-size: cover;
}


.posters {
  background-image: url(/images/poster-gifs.gif);
  background-position: center;
  background-size: contain;
}


.tender {
  background-image: url(/images/tendergif2.gif);
  background-position: center;
  background-size: contain;
}




/*DROP SHADOW AND HOVER*/
.dropshadow {box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.2);}


.lightdrop {box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);}


.invert {
  filter: invert(1);
}



/*MEDIA QUERIES MEDIUM & SMALL*/

@media only screen and (max-width: 1000px) {

  iframe {
    width: 650px;
    height: 375px;
  }
  iframe.subtract {
    width:400px;
    height:400px;
  }
}



@media only screen and (max-width: 600px) {

  iframe {
    width:320px;
    height:180px;
  }

  iframe.subtract {
    width:300px;
    height:300px;
  }

  .hidethis {
    display: none;
  }
}






.grayfilter {
  filter: grayscale(100%);
}


a {
  text-decoration: none;
  color: black;
}

.alphabetborder {
  border: 20px solid #e2856e;
  box-sizing: border-box;
}








img{
	width:100%;
	height:auto;
  border-style: none;
}
