@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700');

@import url("https://use.typekit.net/ujb8mcn.css");

/*FONTS*/


.objthin {
font-family: objektiv-mk2, sans-serif;
font-weight: 300;
font-style: normal;
}

.obji {
  font-family: objektiv-mk2, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.objr {
  font-family: objektiv-mk2, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.objbold {
  font-family: objektiv-mk2, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.objblack {
  font-family: objektiv-mk2, sans-serif;
  font-weight: 900;
  font-style: normal;
}


.merrib {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.smallcaps {
  font-family: objektiv-mk2, sans-serif;
  font-weight: 300;
  letter-spacing: .05em;
  text-transform: uppercase;
}

.navlinks {
  font-family: objektiv-mk2, sans-serif;
  font-weight: 400;
  letter-spacing: .05em;
  text-transform: uppercase;
}


body {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  color: #202020;
}


.texty {
  line-height: 1.8
}



/* BACKGROUND IMAGES - INDEX PAGE */


.first {
  background-image: url(/images/unknown-gif3.gif);
  background-position: center;
  background-size: contain;
}

.concept {

  background-image: url(/images/sackler-01.png);
  background-position: center;
  background-size: contain;
}

.influence {
  background-image: url(/images/influence-gif.gif);
  background-position: center;
  background-size: contain;
}

.questions {
  background-image: url(/images/extra.png);
  background-position: center;
  background-size: contain;
}

.datacity {
  background-image: url(/images/data2-01.png);
  background-position: center;
  background-size: contain;
}

.weather {
  background-image: url(/images/lola-gif.gif);
  background-position: center;
  background-size: contain;
}

.subtract {
  background-image: url(/images/subtract02.png);
  background-position: center;
  background-size: contain;
}

.collection {
  background-image: url(/images/collectionsgif.gif);
  background-position: center;
  background-size: contain;
}

.alphabet {
  background-image: url(/images/alphabetgif.gif);
  background-position: center;
  background-size: contain;
}

.mfa {
  background-image: url(/images/mfa-orange.png);
  background-position: center;
  background-size: contain;
}


/*DROP SHADOW AND HOVER*/
.dropshadow {box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.2);}


/*Color Overlay*/


.blackwhite:hover {
  background-color: red;
  background-blend-mode: multiply;
}

@media only screen and (max-width: 600px) {
  .blackwhite:hover {
    background-blend-mode: normal;
  }
  video {
    width: 300px;
    height: 300px; 
  }
}

.grayfilter {
  filter: grayscale(100%);
}

a {
  text-decoration: none;
  color: black;
}


/*fun text over image scroll
.section {
  position: relative;
}

section div.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
}

section h2 {
  text-align: center;
  padding: 40px;
  position: sticky;
  position: -webkit-sticky;
  top: 10vh;
}
*/



img{
	width:100%;
	height:auto;
  border-style: none;
}
