@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700');
@import url("https://use.typekit.net/ujb8mcn.css");

/*FONTS*/


.objthin {
font-family: objektiv-mk2, sans-serif;
font-weight: 300;
font-style: normal;
}

.obji {
  font-family: objektiv-mk2, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.objr {
  font-family: objektiv-mk2, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.objbold {
  font-family: objektiv-mk2, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.objblack {
  font-family: objektiv-mk2, sans-serif;
  font-weight: 900;
  font-style: normal;
}


.merrib {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.merrii {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-style: italic;
}

.smallcaps {
  font-family: objektiv-mk2, sans-serif;
  font-weight: 300;
  letter-spacing: .05em;
  text-transform: uppercase;
}

.navlinks {
  font-family: objektiv-mk2, sans-serif;
  font-weight: 400;
  letter-spacing: .05em;
  text-transform: uppercase;
}


body {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  color: #202020;
}


.texty {
  line-height: 1.8
}



/* BACKGROUND IMAGES - INDEX PAGE */


.first {
  background-image: url(/images/manual-cover.png);
  background-position: center;
  background-size: contain;
}

.concept {
  background-image: url(/images/sackler-poster.jpg);
  background-position: center;
  background-size: contain;
}

.influence {
  background-image: url(/images/catalog-gif2.gif);
  background-position: center;
  background-size: cover;
}

.questions {
  background-image: url(/images/questions-poster01.png);
  background-position: center;
  background-size: contain;
}

.datacity {
  background-image: url(/images/datamap3.png);
  background-position: center;
  background-size: cover;
}

.weather {
  background-image: url(/images/lola-gif.gif);
  background-position: center;
  background-size: contain;
}

.subtract {
  background-image: url(/images/subtract.gif);
  background-position: center;
  background-size: cover;
}

.collection {
  background-image: url(/images/collection-01.png);
  background-position: center;
  background-size: contain;
}

.alphabet {
  background-image: url(/images/alphabet-gif2.gif);
  background-position: center;
  background-size: contain;
}

.mfa {
  background-image: url(/images/mfa-orange.png);
  background-position: center;
  background-size: contain;
}

.thesis {
  background-image: url(/images/thesis-01.png);
  background-position: center;
  background-size: contain;
}

.serial {
  background-image: url(/images/serial-01.png);
  background-position: center;
  background-size: contain;
}


.posters {
  background-image: url(/images/poster-gifs.gif);
  background-position: center;
  background-size: contain;
}


.tender {
  background-image: url(/images/tender-gif2.gif);
  background-position: center;
  background-size: contain;
}




/*DROP SHADOW AND HOVER*/
.dropshadow {box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.2);}


.lightdrop {box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);}


.invert {
  filter: invert(1);
}




@media only screen and (max-width: 600px) {
  video {
    width: 300px;
    height: 300px;
  }
  iframe {
    width:320px;
    height:180px;
  }

  iframe.subtract {
    width:300px;
    height:300px;
  }
}



.grayfilter {
  filter: grayscale(100%);
}


a {
  text-decoration: none;
  color: black;
}






/*fun text over image scroll
.section {
  position: relative;
}

section div.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
}

section h2 {
  text-align: center;
  padding: 40px;
  position: sticky;
  position: -webkit-sticky;
  top: 10vh;
}
*/




img{
	width:100%;
	height:auto;
  border-style: none;
}
